<nav class="navbar navbar-expand-lg bg-info" style="background-color: rgb(92, 197, 246);">
    <div class="container-fluid">         
      <!-- Alinhamento de textos um abaixo do outro -->
      <div class="d-flex flex-column ms-auto">
        <a class="navbar-brand" href="#" style="color: white;margin-left: 250px;">YOURHOME</a>
        <span style="color: white; font-size: 15px;">Os melhores profissionais para a realização dos seus sonhos</span>
      </div>
    </div>
  </nav>

  <div class="login-container d-flex justify-content-center align-items-center vh-100">
    <div class="login-box">
      <form>
        <div class="form-group d-flex align-items-center">
            <button type="submit" class="btn btn-info" style="width: 150px; height: 70px; color:white" (click)="direcionarLoginCorretor('corretor')">Corretor</button>
        </div>
        <br />
        <div class="form-group d-flex align-items-center">
            <button type="submit" class="btn btn-info" style="width: 150px; color:white;" (click)="direcionarLoginUsuario('usuario')">Em Busca De Um Imóvel</button>
        </div>
      </form>
    </div>
  </div>

