<nav class="navbar navbar-expand-lg bg-info" style="background-color: rgb(92, 197, 246);">
    <div class="container-fluid">         
      <!-- Alinhamento de textos um abaixo do outro -->
      <div class="d-flex flex-column ms-auto">
        <a class="navbar-brand" href="#" style="color: white;margin-left: 250px;">YOURHOME</a>
        <span style="color: white; font-size: 15px;">Os melhores profissionais para a realização dos seus sonhos</span>
      </div>
    </div>
  </nav>

  <div class="login-container d-flex justify-content-center align-items-center" style="margin-top: 30px;">
    <div class="login-box">       
      <form>
        <div class="text-center">
            <p style="color: rgb(92, 197, 246); font-size: 18px;">Selecione as opções no filtro</p>
            <hr style=" color: rgb(92, 197, 246); background-color: rgb(92, 197, 246); height: 2px; margin-top: -15px;">
        </div> 
        <div class="form-group d-flex align-items-center mt-4">
            <label for="cidade" class="form-label me-2"><b>CIDADE:</b></label>
            <select class="form-select" id="cidade">
              <option>Ribeirão Preto</option>
            </select>
          </div>
          <div class="form-group d-flex align-items-center mt-4">
            <label for="bairro" class="form-label me-2"><b>BAIRRO:</b></label>
            <select class="form-select" id="bairro">
              <option>Centro</option>
            </select>
          </div>
          <div class="form-group d-flex align-items-center mt-4">
            <label for="tipo-imovel" class="form-label me-2"><b>Tipo de Imóvel:</b></label>
            <select class="form-select" id="tipo-imovel">
              <option>Comercial</option>
            </select>
          </div>
          <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-info" style="width: 150px;">Filtrar</button>
        </div>
      </form>
    </div>
</div>
<br />
<div class=" d-flex justify-content-center align-items-center"> 
    <form>
        <div class="text-center">
            <p style="color: rgb(92, 197, 246); font-size: 18px;">Corretores</p>
            <hr style=" color: rgb(92, 197, 246); background-color: rgb(92, 197, 246); height: 2px; margin-top: -15px;">
        </div>
    </form>
</div>

<div class="login-container d-flex justify-content-center align-items-center" style="margin-top: 30px;"> 
    <div class="d-flex">

        <div class="image-box" style="margin-right: 15px;">
            <img src="URL_DA_IMAGEM" alt="Imagem de perfil" style="width: 150px; height: 150px; object-fit: cover;">
        </div>

    <div class="login-box">       
      <form>
        <div class="form-group d-flex align-items-center">
            <label for="nome" class="me-2"><b>NOME: </b></label>
            <input type="text" readonly="" id="nome" class="form-control" style="width: 80%; margin-bottom: 5px;" required>
        </div>
        <div class="form-group d-flex align-items-center">
            <label for="creci" class="me-2"><b>CRECI: </b></label>
            <input type="text" readonly="" id="creci" class="form-control" style="width: 80%; margin-bottom: 5px;" required>
        </div>
        <div class="form-group d-flex align-items-center">
            <label for="bio" class="me-2"><b>BIO: </b></label>
            <input type="text" readonly id="bio" class="form-control" style="width: 80%; margin-left: 18px;" required>
        </div>
      </form>
    </div>
    </div>
</div>

